<div layout:fragment="easyui" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" type="text/css" th:href="@{~/easyui/demo.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/easyui/easyui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/easyui/icon.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{~/images/apple.ico}"/>

    <script type="text/javascript" th:src="@{/easyui/jquery-1.6.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>

</div>
